:root {
    --background-color-default: #dfe7f2;
    --background-color-light: #f0f5fc; /* #e8eef6; */
    --background-color-dark: #d4dded;
    --text-color-default: #15181d;
    --text-color-middle: #242f3f;
    --text-color-second: #3f5274;

    --light-text-color: #f7fbff;
    --dark-text-color: #15181d;

    --marin-color: #4133ff;
    --blue-color: #006de6;
    --cyan-color: #00bbd2;
    --green-color: #00c23c;
    --lime-color: #7fe600;
    --yellow-color: #e6db00;
    --gold-color: #f8c700;
    --orange-color: #f98500;
    --red-color: #ff2b2b;
    --pink-color: #ff0080;
    --lilac-color: #ca03e0;
    --purple-color: #9a1eff;

    /* --blue-color-light: #0b9ff5;
    --cyan-color-light: #03d3ee;
    --green-color-light: #1ed610;
    --lime-color-light: #b2e206;
    --yellow-color-light: #eeca00;
    --gold-color-light: #ffaa0d;
    --orange-color-light: #ff800a;
    --red-color-light: #ff3e3e;
    --pink-color-light: #ff3b86;
    --lilac-color-light: #e30eff;
    --purple-color-light: #9068ff;

    --blue-color-dark: #0478e4;
    --cyan-color-dark: #00a1c9;
    --green-color-dark: #0eac03;
    --lime-color-dark: #6db100;
    --yellow-color-dark: #e29b00;
    --gold-color-dark: #ee8700;
    --orange-color-dark: #e65c01;
    --red-color-dark: #f01111;
    --pink-color-dark: #e4007d;
    --lilac-color-dark: #b300ca;
    --purple-color-dark: #812af1; */

    --shade-color-05: rgba(0, 0, 0, 0.03);
    --shade-color-10: rgba(0, 0, 0, 0.07);
    --shade-color-20: rgba(0, 0, 0, 0.1);
    --shade-color-30: rgba(0, 0, 0, 0.15);
    --shade-color-40: rgba(0, 0, 0, 0.2);
    --shade-color-50: rgba(0, 0, 0, 0.25);
    --shade-color-60: rgba(0, 0, 0, 0.3);
    --shade-color-70: rgba(0, 0, 0, 0.35);
    --shade-color-80: rgba(0, 0, 0, 0.4);
    --shade-color-90: rgba(0, 0, 0, 0.5);

    --light-color-05: rgba(255, 255, 255, 0.25);
    --light-color-10: rgba(255, 255, 255, 0.5);
    --light-color-20: rgba(255, 255, 255, 0.55);
    --light-color-30: rgba(255, 255, 255, 0.6);
    --light-color-40: rgba(255, 255, 255, 0.65);
    --light-color-50: rgba(255, 255, 255, 0.7);
    --light-color-60: rgba(255, 255, 255, 0.75);
    --light-color-70: rgba(255, 255, 255, 0.8);
    --light-color-80: rgba(255, 255, 255, 0.85);
    --light-color-90: rgba(255, 255, 255, 0.9);

    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    --header-icon-width: 2.5rem;
    --header-padding: 0.5rem;
    --header-padding-small: 0.3rem;

    --top-height: 4rem;

    --main-padding-small: 1rem;
    --main-padding: 2rem;
    --main-padding-large: 3rem;
    --main-padding-giant: 4rem;

    --footer-height: 2rem;

    /* .0625 .125 .1875 .25 .3125 .375 .4375 .5 */

    --bradius-tiny: .25rem;
    --bradius-small: .375rem;
    --bradius-medium: .5rem;
    --bradius-large: .625rem;
    --bradius-giant: .75rem;
}

.dark-scheme {
    --background-color-default: #292f39;
    --background-color-light: #485368;
    --background-color-dark: #15181d;
    --text-color-default: #f7fbff;
    --text-color-middle: #e5edf5;
    --text-color-second: #ccddee;

    --marin-color: #3d4aff;
    --blue-color: #2583fd;
    --cyan-color: #00ddec;
    --green-color: #04ca26;
    --lime-color: #75db15;
    --yellow-color: #ffe817;
    --gold-color: #ffb108;
    --orange-color: #f96d00;
    --red-color: #ff2f21;
    --pink-color: #ff009d;
    --lilac-color: #cc00e4;
    --purple-color: #8c56ff;

    --shade-color-05: rgba(0, 0, 0, 0.05);
    --shade-color-10: rgba(0, 0, 0, 0.1);
    --shade-color-20: rgba(0, 0, 0, 0.2);
    --shade-color-30: rgba(0, 0, 0, 0.3);
    --shade-color-40: rgba(0, 0, 0, 0.4);
    --shade-color-50: rgba(0, 0, 0, 0.5);
    --shade-color-60: rgba(0, 0, 0, 0.6);
    --shade-color-70: rgba(0, 0, 0, 0.7);
    --shade-color-80: rgba(0, 0, 0, 0.8);
    --shade-color-90: rgba(0, 0, 0, 0.9);

    --light-color-05: rgba(255, 255, 255, 0.025);
    --light-color-10: rgba(255, 255, 255, 0.05);
    --light-color-20: rgba(255, 255, 255, 0.1);
    --light-color-30: rgba(255, 255, 255, 0.15);
    --light-color-40: rgba(255, 255, 255, 0.2);
    --light-color-50: rgba(255, 255, 255, 0.25);
    --light-color-60: rgba(255, 255, 255, 0.3);
    --light-color-70: rgba(255, 255, 255, 0.35);
    --light-color-80: rgba(255, 255, 255, 0.4);
    --light-color-90: rgba(255, 255, 255, 0.45);

    --fw-100: 100;
    --fw-200: 100;
    --fw-300: 200;
    --fw-400: 300;
    --fw-500: 400;
    --fw-600: 500;
    --fw-700: 600;
    --fw-800: 700;
    --fw-900: 800;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-default);
    background-image: radial-gradient(
        circle at 30% 0,
        var(--background-color-light),
        var(--background-color-dark)
    );
    background-attachment: fixed;
    color: var(--text-color-default);
    min-height: 100vh;
    width: max(100%, 320px);
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Afacad", sans-serif;
    font-weight: var(--fw-500, 500);
}

h1 {
    font-size: 2rem;
    margin: 0;
}

header#header {
    min-height: 100vh;
    min-width: fit-content;
    max-width: 320px;
    background-color: var(--background-color-default);
    background-image: linear-gradient(
        to left,
        var(--background-color-light),
        var(--background-color-dark) 150%
    );
    box-shadow: 0.1rem 0 0.5rem 0 rgba(0, 0, 25, 0.2);
}

.logobox {
    display: flex;
    align-items: center;
    font-weight: var(--fw-600, 600);
    text-decoration: none;
    color: var(--text-color-default);
    height: var(--top-height);
}
.logoimg {
    width: var(--header-icon-width);
    aspect-ratio: 1.5;
}
.logoname {
    font-size: 1.375rem;
    padding: var(--header-padding);
    font-family: 'Afacad', 'Inter', sans-serif;
}

#mainmenu ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

#mainmenu > ul > li > a {
    color: var(--text-color-default);
    font-weight: var(--fw-400, 400);
    text-decoration: none;
    display: flex;
    align-items: center;
}

#mainmenu > ul > li:not(.active):hover {
    box-shadow: 0 -.0625rem 0 0  var(--light-color-30),  0 .0625rem 0 0  var(--shade-color-30);
}
#mainmenu > ul > li {
    border-right: 0.2rem solid transparent;
    /* border-left: 0.2rem solid transparent; */
}
#mainmenu > ul > li:has(a:hover) {
    border-color: var(--i-color, currentColor);
}
#mainmenu > ul > li.active {
    border-color: var(--i-color, currentColor);
    border-bottom: 0.0625rem solid var(--light-color-30);
}
#mainmenu > ul > li.active > a {
    background-color: var(--background-color-default);
    background-image: linear-gradient(
        to left,
        var(--background-color-light) -10%,
        var(--background-color-dark) 140%
    );
    box-shadow: inset 0 0.1rem 0.2rem -0.1rem var(--shade-color-30);
}

#mainmenu a .menu-icon {
    width: var(--header-icon-width);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    padding-left: 0.4rem;
}
#mainmenu .active .menu-icon {
    border-color: var(--i-color, currentColor);
}

#mainmenu a .menu-title {
    flex-grow: 1;
    display: block;
    height: 100%;
    padding: var(--header-padding);
}

.collapsed .logoname,
.collapsed #mainmenu a .menu-title {
    display: none;
}

#mainmenu a svg {
    fill: var(--i-color, var(--text-color-default));
}

#mainmenu .submenu {
    display: none;
    flex-direction: column;
    background-color: var(--background-color-dark);
    background-image: linear-gradient(
        to left,
        var(--background-color-light) -20%,
        var(--background-color-dark) 130%
    );
    box-shadow: inset 0 1rem 3rem -2rem var(--shade-color-30);
}

#mainmenu .submenu a {
    display: block;
    color: var(--text-color-default);
    text-decoration: none;
    font-weight: var(--fw-400, 400);
    font-size: 0.9em;
    padding: var(--header-padding-small);
    padding-left: calc(var(--header-icon-width) + var(--header-padding));
}

#mainmenu .submenu a:hover {
    background-image: linear-gradient(
        to left,
        var(--background-color-light) -30%,
        var(--background-color-dark) 120%
    );
}
#mainmenu .submenu li:first-child a {
    padding-top: var(--header-padding);
}
#mainmenu .submenu li:last-child a {
    padding-bottom: var(--header-padding);
}

#mainmenu li.active .submenu {
    display: flex;
}

.only-mobile {
    display: none;
}

main {
    flex-grow: 1;
}

#toppanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--top-height);
}

.userinfo {
    position: relative;
    width: var(--top-height);
    height: var(--top-height);
    z-index: 100;
}
.userinfo-content {
    position: absolute;
    top: var(--header-padding);
    right: var(--header-padding);
    max-width: var(--top-height);
    max-height: var(--top-height);
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    transition: max-height .3s, max-width .6s, background-color .6s, box-shadow 0s;
    border-radius: var(--bradius-medium);
    /* box-shadow: inset -2rem -2rem 7rem -3rem var(--background-color-dark); */
}
.userinfo-content:hover {
    max-width: 50rem;
    max-height: 50rem;
    background-color: var(--background-color-light);
    box-shadow: 0 0 1rem 0 var(--shade-color-10), inset -2rem -2rem 7rem -4rem var(--background-color-dark);
}

.userinfo-content-inner {
    /* position: absolute;
    top: 0;
    right: 0; */

}

.userinfo-top {
    display: flex;
    align-items: center;
    gap:  var(--header-padding);
}

.userinfo-name {
    padding: 0 var(--header-padding);
    font-weight: var(--fw-300, 300);
}

.userinfo-avatar {
    /* width: calc(var(--top-height) - var(--header-padding)); */
    width: 3.5rem;
    aspect-ratio: 1;
    padding: .75rem;
    margin-left: auto;
}
.userinfo-avatar svg {
    width: 100%;
    height: 100%;
}
.userinfo-avatar svg path {
    fill: var(--text-color-default);
}

.userdata ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    padding: .5rem .5rem;
    margin: 0;
    width: 100%;
}

/* .userdata ul a {
    display: block;
    text-align: center;
} */

.userdata ul .logout a {
    display: block;
    text-align: center;
    padding: .25rem 1rem;
    width: 100%;
    border-radius: var(--bradius-tiny);
    background-color: var(--red-color);
    color: var(--light-text-color);
    text-decoration: none;
    font-size: .875rem;
    font-weight: var(--fw-400,400);
}

.userdata ul .logout a:hover {
    box-shadow: inset 0 1rem 1rem -.5rem hsl(from var(--red-color) h s calc(l - 8));
}

.pageinfo {
    flex-grow: 1;
}

.paginfo-title {
    text-align: center;
    padding: 0 1em;
}

.main-container {
    padding: 0 var(--main-padding-small);

}

.big-container {
    background-color: var(--background-color-light);
    background-image: radial-gradient(
        circle at 15% 0,
        var(--background-color-light),
        var(--background-color-dark) 150%
    );
    border-radius: var(--bradius-large);
    box-shadow: 0 0 1rem 0 var(--shade-color-10);
    min-height: calc(100vh - var(--top-height) - var(--footer-height) - var(--main-padding-small));
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 1rem;
    font-size: .8rem;
    font-weight: var(--fw-400, 400);
    background-color: var(--background-color-default);
    box-shadow: 0 0 1rem 0 var(--shade-color-20);
}

/* Page inner content */

/* Start */

.bigtile-box {
    --tile-color: var(--blue-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, 19rem);
    gap:  var(--main-padding);
    padding: var(--main-padding);
}

.bigtile-box .tile-item {
    position: relative;
    padding: var(--main-padding-small);
    /* background-color: var(--background-color-dark); */
    background-color: var(--tile-color);
    /* background-image: radial-gradient(circle at 90% 120%, var(--background-color-default), var(--tile-color) 100%); */
    color: var(--light-text-color);
    border-radius: var(--bradius-medium);
    box-shadow: 0 0 1rem 0 var(--shade-color-30), inset -3rem -7rem 8rem -6rem hsl(from var(--tile-color) calc(h - 24) s calc(l - 4));
    text-align: right;
    text-decoration: none;
    min-height: 8.5rem;
}

.bigtile-box .tile-item:hover {
    box-shadow: 0 0 1.25rem 0 var(--shade-color-50), inset -2.5rem -6rem 8rem -6rem hsl(from var(--tile-color) calc(h - 24) s calc(l - 4));
    scale: 1.01;
}

.bigtile-box .tile-image {
    position: absolute;
    opacity: .2;
    top: 1rem;
    left: 1rem;
    width: 4.5rem;
    height: 4.5rem;
}

.bigtile-box .tile-image svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
}

.bigtile-box .tile-content h2 {
    font-size: 1.625rem;
    font-weight: 500;
    margin: .625em 0;
}

.bigtile-box .tile-description {
    font-size: 1rem;
    font-weight: 400;
}

.bigtile-box .tile-data-item {
    font-size: .875rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
}

/* Froms */

.item-form h2 {

}

